{% extends 'base.html.twig' %}

{% block title %}Boostmybet | {{ name }}{% endblock %}

{% block body %}
<div class="contant">
{#    <div class="inner-banner-part" id="banner-part">#}
{#        <div class="inner-banner-content">#}
{#            <div class="container">#}
{#                <h1 class="head-one">ARTICLES PARIS SPORTIFS</h1>#}
{#                <div class="custom-bread">#}
{#                    <ul class="breadcrumb inline">#}
{#                        <li><a href="{{ asset('/') }}">Home</a></li>#}
{#                        <li><a href="{{ asset('/blog') }}">Blog</a></li>#}
{#                        <li>Blog Detail</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div class="blog-part ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-8">
                    <div class="blog-detail-part pb-md-60">
                        <img src="{{ asset('images/article-lexique-paris-sportifs.jpg') }}" alt="lexique paris sportifs-img" class="blog-img" >
                        <div class="blog-detail">
                            <div class="blog-detail-inner">
                                <span class="bloger-date">BoostmyBet <span>|</span>2 Mai 2022</span>
                                <h2 class="head-two mb-20">Lexique des termes utilisés dans les paris sportifs:</h2>
                                <p>Les paris sportifs débordent de termes et acronymes auxquels tout parieur a déjà été confronté. Tour d’horizon des principaux d’entre eux.</p>
                                <p><strong>Bookmaker</strong></p>
                                <p>Terme anglo-saxon répandu chez nous pour évoquer les opérateurs, les sites de jeux en ligne sur lesquels il est possible de parier. </p>
                                <p><strong>Tipster</strong></p>
                                <p>Terme utilisé pour désigner un parieur partageant ses pronostics à travers une communauté. Soyez plus que vigilant dans le choix des tipsters que vous décidez de suivre, la plupart de ceux présent uniquement sur les réseaux sociaux étant dans l’extrême majorité des charlatants sans bilan certifié se déguisant en expert du betting à travers un compte Twitter. Si vous décidez de suivre un tipster, différents critères sont à prendre en compte au préalable : ROI, ROC, closing, qualité d’analyse, volume de marché des pronostics proposés…</p>
                                <p><strong>Bankroll</strong></p>
                                <p>On définie par bankroll le capital que vous alloué au jeu et uniquement pour cela. On vous invite d'ailleurs à lire <a href="https://boostmybet.uk/article/gestion-bankroll-paris-sportifs" target=blank">notre article sur le sujet.</a></p>
                                <p><strong>Flat betting </strong></p>
                                    <p>Stratégie de mise consistant à jouer la même somme pour l’ensemble de vos paris. Là aussi, nous vous renvoyons vers notre <a href="https://boostmybet.uk/article/gestion-bankroll-paris-sportifs" target=blank">article sur la gestion de bankroll.</a></p>
                                <p><strong>Livebet</strong></p>
                                <p>Défini le fait de parier sur un match en cours (en direct).</p>
                                <p><strong>Handicap</strong></p>
                                <p>Le handicap est un type de pari où un nombre de buts/points fictif avec lequel une équipe/un joueur part en sa faveur/défaveur. L'objectif du bookmaker est de trouver le cut d’handicap le plus juste possible afin qu’il soit compliqué de définir un gagnant, le résultat parfait pour eux étant de tomber juste.</p>
                                <p><strong>Over/Under</strong></p>
                                <p>Le Over/Under est un type de pari proposant de miser sur le fait qu’il y ait plus ou moins de buts/points/jeux (liste non exhaustive) en fonction d’un chiffre de référence que l’on appelle le cut. Le Over/Under le plus populaire en football est celui sur le nombre de buts total et son cut de référence est le +/- 2,5 buts. Il existe une multitude de Over/Under sur toutes sortes d’évènements pouvant se produire pour chaque sport.</p>
                                <p><strong>BTTS</strong></p>
                                <p>De l’anglais “Both team to score”, soit "les deux équipes marquent". Cette abréviation spécifique aux paris sur le football fait référence au fait que les deux équipes marquent  un but durant une rencontre. Pas d’erreur possible ici avec comme pour les Over/Under seulement deux choix possibles : oui les deux équipes marqueront ou non, une deux équipes au moins ne marquera pas. </p>
                                <p><strong>DNB</strong></p>
                                <p>Abréviation de "Draw No Bet", soit "remboursé si match nul". Vous misez ici sur la victoire d’une équipe et serez remboursé en cas de partage des points. Vous n’avez donc, d’un point de vue purement mathématique, qu’une chance sur trois de perdre. Il est possible de se créer son propre draw no bet en plaçant deux paris répartis sur la victoire et sur le match nul. Exemple : pour un match de football avec comme cotes : 2,55 - 3,30 - 2,68, vous souhaitez parier 10€ sur la victoire de l’équipe à l’extérieur en DNB. Vous placerez alors 6,70€ sur la victoire de l’équipe à l’extérieur et 3,30€ sur le match nul.</p>
                                <p><strong>First to score</strong></p>
                                <p>Il est là aussi question avec ce troisième terme d’un type de pari proposé par les bookmakers consistant à miser sur la première équipe (existe aussi avec le premier joueur) marquant dans le match.</p>
                                <p><strong>Closing</strong></p>
                                <p>Terme définissant la différence (positive ou négative) entre la cote prise au moment de la validation de votre pari et la cote finale à la fermeture du marché, juste avant que la rencontre ne débute. On dit couramment que vous avez "battu" la closing quand la cote a baissée. D’un point de vue statistique, plus vous battrez la closing et plus vos chances de réussite augmenteront.</p>
                                <p><strong>ValueBet</strong></p>
                                <p>Ce terme, utilisé à la base dans le jargon du poker, peut se dire d’une cote quand cette dernière est supérieure à celle que vous auriez objectivement fixé après une analyse personnelle. On dit alors que cette cote est "value" et donc potentiellement bonne à jouer. S’il y a un terme présent dans cet article à avoir en tête avant de placer chaque pari, c’est bien celui-ci. Une manière simple de faire ressortir de potentielles values est d’attribuer et de noter vos propres cotes pour un match avant d’aller les comparer avec celles du bookmaker. Il vous faudra déjà une certaine expérience pour fonctionner ainsi. </p>
                                <p><strong>SureBet</strong></p>
                                <p>Cette technique, que l’on pourrait traduire par "pari certain", définie une situation où l’on est assuré de réaliser un bénéfice (dans l’immense majorité des cas minime), qu’importe le résultat du match. Cette circonstance peut survenir lorsque deux bookmakers ont un écart de cotes important pour un même match ou si les cotes de cet évènement ont fortement évoluées. Exemple: sur un match de tennis, le bookmaker A évalue le joueur 1 favori et donne la cote de la victoire du joueur 2 à 2,02. Le bookmaker B quant à lui à calculé différemment et donne la victoire du joueur 1 à 2,04. En pariant équitablement 100€ sur les victoires des deux joueurs, vous êtes assuré de gagner dans le cas de la victoire du joueur 1, 2€, dans le cas que la victoire du joueur 2, 4€. Il est bien de connaitre ce terme mais c’est dans la pratique très rare d’être en situation de surebet post-match à moins d’évènement majeurs comme par exemple, en restant sur le tennis, la blessure d’un joueur.</p>
                                <p><strong>ROI</strong></p>
                                <p>Abréviation de "Return on investment", le ROI est un indicateur financier fondamental s’exprimant en pourcentage et mesurant le rapport entre le montant total de vos mises et vos gains. La formule pour le calculer est (bénéfices / mises cumulées) x 100. Au delà d’un volume de 1000 paris, vous pouvez être considéré comme un excellent parieur si vous parvenez à obtenir un ROI à partir de 5%.</p>
                                <p><strong>ROC</strong></p>
                                <p>Abréviation de "Return on capital", le ROC mesure lui le rapport entre vos gains et votre bankroll. Il se calcule en faisant : (Bénéfice / Capital) x 100. Le ROC est un indicateur complémentaire au ROI se basant uniquement sur l’évolution de votre bankroll.</p>
                                <p><strong>Variance</strong></p>
                                <p>Là encore un terme populaire dans l’univers du poker (où l'on utilise couramment les termes EV+/EV-) que le betting s’est lui aussi approprié. La variance définie la dispersion entre l’espérance et l’écart moyen, soit l’écart entre un évènement attendu et ce qui arrive réellement. Dans les paris sportifs, c’est donc l’écart moyen entre les gains escomptés et les gains réels. Nous avons tous en tête cette maxime sur le fait que le sport dans son ensemble (et encore plus le football) n’est pas une science exacte. Un carton rouge, une blessure ou une frappe sur le poteau sont autant de faits de jeu subits peuvant vous faire perdre (ou gagner, on parle alors de variance positive) votre pari. Ces évènements sont liés à la variance. Plus votre volume de pari augmente, plus cette variance aura tendance à diminuer, on parle alors de "lisser la variance". Attention toutefois à rester objectif et ne pas vous cacher derrière ce terme à chaque défaite.</p>
                                <p><strong>MTLM</strong></p>
                                <p>Abréviation de "Monsieur tout le monde", MTLM est un terme utilisé péjorativement pour définir un pari ou type de paris joué par le plus grand nombre (et donc perdant sur le long terme quand on connait le % de joueurs gagnants). Combiner les victoires à domicile du Real, du PSG, de City et du Bayern face à des adversaires plus faibles rentrerait par exemple dans cette case.</p>
                                <div class="tag-social">
                                    <div class="social-icon float-left">
                                        <div class="small-title mb-0">Share:</div>
                                        <ul>
                                            <li>
                                                <a href=https://www.facebook.com/BoostmyBet-108132671625400 target="_blank"><i class="fa fa-facebook" title="facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href=https://twitter.com/boostmybet_com target="_blank"><i class="fa fa-twitter" title="twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href=https://www.instagram.com/boostmybet_com/ target="_blank"><i class="fa fa-instagram" title="instagram"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="detail-tags float-right">
                                        <div class="small-title mb-0">Tags:</div>
                                        <span><a href="#">Définitions Paris Sportifs</a></span>
                                        <span><a href="#">Betting</a></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-4">
                    <div id="sidebar-main" class="sidebar sidebar-default sidebar-separate sidebar-fixed">
                        <div class="sidebar-content">
{#                            <div class="sidebar-default">#}
{#                                <div class="category-content searching">#}
{#                                    <input type="text" name="name" placeholder="Search...">#}
{#                                    <a href="#">#}
{#                                        <i class="fa fa-search" title="search"></i>#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="sidebar-default">
                                <div class="category-content">
                                    <h2 class="cat-title">Tags</h2>
                                    <div class="tags-grp row mlr_-5">
                                        <ul>
                                            <li><a href="#">Articles Paris Sportifs</a></li>
                                            <li><a href="#">Lexique betting</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-default">
                                <div class="category-content">
                                    <h2 class="cat-title">Autres articles sur le thème des paris sportifs</h2>
                                    <div class="recent-post">
                                        <div class="recent inline">
                                            <div class="recent-detail">
                                                <span class="bloger-date">BoostmyBet <span>|</span> 11 Mai 2022</span>
                                                <a href="https://boostmybet.uk/article/gestion-bankroll-paris-sportifs" target=blank" class="post-title">Les fondamentaux de la gestion de bankroll dans les paris sportif</a>
                                            </div>
                                        </div>
                                        <div class="recent inline">
                                            <div class="recent-detail">
                                                <span class="bloger-date">BoostmyBet <span>|</span> 21 Avril 2022</span>
                                                <a href="https://boostmybet.uk/article/points-communs-diff%C3%A9rences-paris-sportifs-poker" target=blank" class="post-title">Paris sportifs et poker, points communs et différences</a>
                                            </div>
                                        </div>
                                        <div class="recent inline">
                                            <div class="recent-detail">
                                                <span class="bloger-date">BoostmyBet <span>|</span> 2 Mai 2022</span>
                                                <a href="https://boostmybet.uk/article/lexique-termes-paris-sportifs" target=blank" class="post-title">Lexique des termes utilisés dans les paris sportifs</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%  endblock %}